* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 400; */
}

html,
body {
    /* height: 100%; */
    width: 100%;
}

.main {
    height: 100vh;
    width: 100%;
}

.fixed {
    /* height: 100%; */
    width: 100%;
    position: relative;
    margin: auto;
    background: url(./images/newhomme.png);
}

.header {
    width: 1000px;
    margin: auto;
    /* background-color: black; */
    padding: 25px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu li {
    list-style: none;
    margin-bottom: 10px;
}

.menu :nth-child(2) {
    color: #0061b6;
    font-size: larger;
    margin-left: 45px;
}

.menu :nth-child(3) {
    color: #4879a3;
    font-size: 15px;
    font-weight: 600;
}

.nav {
    z-index: 10;
    width: 1000px;
    background: url(./images/menubgrep.png);
    position: absolute;
    left: 50%;
    top: 88%;
    transform: translatex(-50%);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav ul li {
    height: 45px;
    border-right: 1px solid black;
    text-align: center;
    /* font-weight: 200; */
    display: flex;
    /* font-size: 15px; */
    justify-content: center;
    align-items: center;
    /* font-weight: 400; */
    padding: 0 7px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;

}

.nav ul :nth-child(1) {
    padding: 0 6px;
}

.mainmenu ul :nth-child(1):hover {
    border-radius: 25px 0 0 25px;
}

.mainmenu ul li:hover {
    background: url(images/li_back.png)no-repeat;
    background-size: cover;
}

.mainmenu ul :last-child {
    border: 0;
}

.getaquote ul li {
    display: flex;
    gap: 8px;
    margin-right: 5px;
    border: 0;
    color: white;
    border-radius: 0 25px 25px 0;
    font-size: 15px;
}

/* .getaquote :hover{
   
    border-radius: 0 25px 25px 0;
    background:url(images/li_back.png)no-repeat;

} */

.getaquote ul li img {
    width: 65px;
    position: relative;
    bottom: 8%;
    left: 0;
    transition: 0.5;
}

.getaquote ul li img:hover {
    top: -15px;
    left: 15px;
}

.section2 {
    width: 100%;
    height: 440px;
    background: url(./images/slider100.jpg);
    display: flex;
    transform: translateY(5px);
    justify-content: center;
}

.container {
    width: 1450px;
    display: flex;
    border-top: 5px solid rgb(224, 224, 224);
    justify-content: center;
    /* overflow: hidden; */
    /* transform: translateY(5px); */
}

.img1th {
    height: 436px;
    width: 1440px;
}

.img1th img {
    height: 100%;
    width: 100%;
    /* margin-top: 40px; */
    /* overflow: hidden; */
}

.section3 {
    width: 1000px;
    margin: auto;
    margin-top: 40px;

}

.section3 .obs {
    width: 100%;
    height: 40px;
    background: url(./images/hometitlebar.png)no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    border-radius: 25px 0 0px 25px;
    align-content: center;
}

.lobs {
    margin-left: 30px;
    color: #0b5592;
    font-size: large;
    /* border-radius: 30px 0 80px 0;
    background-color: #0061b6; */
}

.middile {
    width: 100%;
    margin-top: 30px;
    /* border: 5px solid black; */

}

.r1 {
    height: 200px;
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.c1 {
    margin-right: 0px;
    height: 100%;
    width: 50%;
    display: flex;
    /* border: 5px solid black; */
}

.r2 {
    height: 300px;
    width: calc(100% + 30px);
    /* margin-right: 50px; */
    display: flex;
    background: url(./images/midback.png)no-repeat;
    background-position: bottom;
    background-size: 100% 100%;
    margin-bottom: 00px;

}

.text {
    height: 100%;
    width: 69%;
    /* border: 5px solid black; */
}

.text p {
    font-size: 15px;
}

.photo {
    height: 100%;
    width: 33%;
    /* border: 5px solid black; */
}

.text h1 {
    font-size: 20px;
    font-weight: 400;

    margin-bottom: 20px;
}

.text h1 b {
    color: #003399;
}

.rd {
    height: 30px;
    width: 150px;
    /* background-color: #0071be; */
    margin-top: 50px;
    /* margin-left: 10px; */
    color: #01579f;
}

.photo img {
    transition: 1s;
    transform-origin: top left;
}

.photo img:hover {
    transform: rotatez(360deg);
}

.section4 {
    height: 330px;
    width: 100%;
    background: url(./images/sliderbg\ -\ Copy.jpg);
    margin-top: 20px;
}

.footer {
    height: 100%;
    width: 1000px;
    /* background-color: #003399; */
    margin: auto;
    display: flex;
}

.first {
    height: 300px;
    width: 30%;
    margin: 20px;
    margin-left: 50px;
    /* border: 5px solid black; */
}

.first h1 {
    color: white;
    font-size: x-large;
}

.second h1 {
    color: white;
    font-size: x-large;
}

.third h1 {
    color: white;
    font-size: x-large;
}

.second {
    height: 300px;
    width: 30%;
    margin: 20px;

    /* border: 5px solid black; */
}

.third {
    height: 300px;
    width: 30%;
    margin: 20px;
    margin-left: 50px;
    position: relative;
    /* border: 5px solid black; */
}

.ul ul {
    margin-left: 15px;

    list-style: none;

}

.ul ul li {
    display: flex;
    align-items: center;
    margin-top: 15px;

}

.ul ul li a {
    color: white;
    font-size: 13px;
    text-decoration: none;
}

.ul ul li :hover {
    line-height: 20px;
    /* padding: 7px 7px; */
    background: url(images/li_back2.png)no-repeat;

}

.locasn {
    height: 50px;
    width: 225px;
    position: absolute;
    left: 12%;
    top: 18%;
    align-content: center;
    border-right: 1px solid white;
    /* background-color: black; */
}

.locasn p {
    font-size: small;
    color: white;
}

.pno {
    height: 50px;
    width: 225px;
    position: absolute;
    left: 12%;
    top: 37%;
    align-content: center;
    /* border-right: 1px solid white; */
    /* background-color: black; */
}

.pno p {
    margin-left: 30px;
    font-size: small;
    color: white;
}

.ema {
    height: 50px;
    width: 225px;
    position: absolute;
    left: 12%;
    top: 58%;
    align-content: center;
    /* border-right: 1px solid white; */
    /* background-color: black; */
}

.ema p {
    margin-left: 30px;
    font-size: small;
    color: white;
}

.webdove {
    height: 300px;
    width: 1000px;
    margin: auto;
    /* background-color: black; */
}

.wd {
    height: 85px;
    width: 100%;
    background-color: black;
    margin-top: 50px;
    display: flex;
    border-radius: 20px 0px 0px 20px;
    background: url(images/inner_menubelow2__.png)no-repeat;
    background-size: 100% 100%;
}

.wd img {
    height: 95px;
    transform: translateY(-10px);
    margin-left: 25px;
}

.wd h1 {
    transform: translateX(20px)translateY(20px);
    font-size: 40px;
    font-weight: 500;
}

.wdtext {
    height: 200px;
    width: 100%;
    margin-top: 25px;
    /* background-color: black; */
}

.wdtext p {
    font-size: 14px;
    line-height: 26px;
    color: #09276d;
}

.seoli {
    height: 100%;
    width: 800px;
}

.seoli ul li {
    color: #003399;
    font-size: 14px;

    margin-top: 13px;
    list-style: none;
}

.seoli ul li img {
    margin-right: 10px;
}

.training {
    height: 300px;
    width: 1000px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #69b6ce;
    margin-top: 60px;
    /* background-color: black; */
}

.training h1 {
    color: #006e99;
    font-size: 20px;
    font-weight: 500;
    transform: translateX(20px)translateY(30px);
}

.co {
    transform: translateX(21px)translateY(40px);
}

.mf {
    transform: translateX(21px)translateY(40px);
}

.co input {
    height: 30px;
    margin-bottom: 15px;
    width: 290px;
}

.co input::placeholder {
    transform: translateX(5px);
}

.mf textarea {
    height: 100px;
    margin-bottom: 15px;
    width: 290px;
    color: gray;

    /* text-align: start; */
}

/* .mf textarea::placeholder{
    transform: translatey(-40px);
} */
.pf input {
    height: 30px;
    margin-bottom: 15px;
    width: 290px;
    transform: translateX(400px)translateY(-169px);
}

.pf input::placeholder {
    transform: translateX(5px);
}

.btn button {
    height: 30px;
    width: 120px;
    background-color: #0046c7;
    border-radius: 25px;
    color: white;
    border: 0;
    font-weight: 500;
    font-size: 15px;
    transform: translateX(400px)translateY(-170px);
}

.testimunial {
    width: 1000px;
    margin: auto;
}

.servicephoto {
    width: 1000px;
    height: 86.64px;
    background-image: url(./images/inner_menubelow2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 25px 0px 0px 25px;
    margin-top: 60px;
    position: relative;
}

.servicephoto img {
    width: 122px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    left: 12px;
}

.servicephoto h2 {
    position: absolute;
    left: 150px;
    top: 25px;
    font-size: 40px;
}

.servicetext {
    width: 1000px;
}

.servicephoto b {
    color: #0b5592;
}

.servicetext p {
    margin-top: 30px;
    line-height: 25px;
}

.servicetext p:last-child {
    margin-bottom: 20px;
}

.testbox {
    width: 100%;
    height: 150px;
    position: relative;
    border: 1.5px solid rgb(152, 147, 147);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.testbox img {
    position: absolute;
    top: 15px;
    left: 30px;
}

.testbox img:nth-child(1) {
    left: 390px;
    top: 51px;
}

.testbox p {
    position: absolute;
    margin-right: 40px;
    top: 22px;
    left: 70px;
    line-height: 25px;
    font-size: 13.6px;
    color: gray;
}

.testbox p:nth-child(4) {
    left: 931px;
    top: 80px;
    width: 60px;
    font-size: 18px;
    color: #01579f;
}

.testbox p:nth-child(5) {
    left: 910px;
    top: 110px;
    width: 60px;
    font-size: 18px;
    color: #01579f;
}

.testform {
    width: 100%;
    /* height: 400px; */
    /* background-color: aquamarine; */
    margin-top: 50px;
    border: 1.5px solid rgb(152, 147, 147);
    border-radius: 5px;
}

.testform pre {
    font-size: 23px;
    margin-top: 20px;
    margin-left: 25px;
}

.testform pre span {
    color: #0061b6;
}

.testinput {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.testinput input {
    width: 330px;
    height: 35px;
    padding-left: 8px;
    margin-top: 12px;
    border: 1.5px solid rgb(152, 147, 147);
    border-radius: 4px;
}

.testinput input::placeholder {
    font-size: 15px;
}

.testinput textarea {
    width: 330px;
    height: 100px;
    padding-left: 8px;
    padding-top: 8px;
    margin-top: 12px;
    border: 1.5px solid rgb(152, 147, 147);
    border-radius: 4px;
}

.testinput textarea::placeholder {
    font-size: 15px;
}

.testinput input:last-child {
    background-color: #0062a3;
    border-radius: 45px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    margin-bottom: 12px;
}

.main-container {
    width: 1000px;
    margin: auto;
    padding: 20px;
}

.job {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
}

.job p b {
    font-weight: 100;
    font-size: 15px;
    margin-left: 90px;

}

.job p {
    font-size: 16px;
}

h2 {
    color: #0078d7;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}

span {
    font-weight: bold;
    display: inline-block;
    width: 180px;
    color: #000;
}

.A {
    width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.B,
.C,
.D,
.E {
    width: 230px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-top: 30px;
    text-align: center;
}

.B img,
.C img,
.D img,
.E img {
    width: 100%;

    height: 220px;
    /* object-fit: contain;  */
    padding: 10px;
    background-color: #e6f3ff;
}

.content {
    padding: 10px;
}

.content h3 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.content p {
    margin: 5px 0;
    font-size: 14px;
    color: #0073e6;
    text-decoration: none;
}

.content a {
    display: block;
    margin: 10px 0;
    text-align: left;
    /* Align link to the left */
    font-size: 14px;
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
}

.content a:hover {
    text-decoration: underline;
}

.contact {
    width: 1000px;
    height: 1080px;
    margin-top: 40px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.contacthead {
    font-size: 40px;
    margin-top: 50px;
}

.contacthead p {
    color: #0061b6;
}

.address {
    display: flex;
    width: 900px;
    height: 130px;
    margin-right: 20px;
}

.address pre {
    width: 360px;
    border-right: 2px dotted #0061b6;
    font-size: 13px;
    font-weight: 600;
    color: #0061b6;
}

.address :last-child {
    border: 0;
}

.address pre span {
    font-size: 20px;
    margin-top: 20px;
    color: #0061b6;
}

.contactimg {
    width: 1000px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.img {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: #0061b6;
}

.round {
    width: 140px;
    height: 140px;
    background-color: #69b6ce;
    border-radius: 50%;
    background-image: url(./images/email_ws.png);
    background-repeat: no-repeat;
    background-position: center;
}

.round1 {
    width: 140px;
    height: 140px;
    background-color: #69b6ce;
    border-radius: 50%;
    background-image: url(./images/phone_ws.png);
    background-repeat: no-repeat;
    background-position: center;
}

.round2 {
    width: 140px;
    height: 140px;
    background-color: #69b6ce;
    border-radius: 50%;
    background-image: url(./images/fb_ws.png);
    background-repeat: no-repeat;
    background-position: center;
}

.round3 {
    width: 140px;
    height: 140px;
    background-color: #69b6ce;
    border-radius: 50%;
    background-image: url(./images/twitter_ws.png);
    background-repeat: no-repeat;
    background-position: center;
}

.contacthead1 {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contacthead1 p {
    color: #0061b6;
}

/* +++++++++++ */
.contform {
    width: 380px;
    /* height: 400px; */
    /* background-color: aquamarine; */
    /* margin-top: 100px; */
    border-radius: 5px;
}

.contform pre {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 25px;
}

.contform pre span {
    color: #0061b6;
}

.continput {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.continput input {
    width: 330px;
    height: 35px;
    padding-left: 8px;
    margin-top: 15px;
    border: 1.5px solid rgb(152, 147, 147);
    border-radius: 4px;
}

.continput input::placeholder {
    font-size: 15px;
}

.continput input:nth-child(4)::placeholder {
    font-size: 15px;
    color: #000;
    font-weight: bold;
}

.continput textarea {
    width: 330px;
    height: 100px;
    padding-left: 8px;
    padding-top: 8px;
    margin-top: 15px;
    border: 1.5px solid rgb(152, 147, 147);
    border-radius: 4px;
}

.continput textarea::placeholder {
    font-size: 15px;
}

.continput input:last-child {
    background-color: #0071be;
    border-radius: 45px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    margin-bottom: 15px;
}

.contactfoot {

    display: flex;
}

.contiframe {
    margin-top: 5px;
}

.contiframe iframe {
    margin-top: 10px;
}

.contiframe pre {
    font-size: 25px;
    margin-top: 20px;

}

.contiframe pre span {
    color: #0061b6;
}